//====================================================================================================
.page {

   &__mblock {}
}

.mblock {

   &__container {
      display: flex;
      gap: rem(30);
   }

   &__content {
      flex: 1 1 rem(870);
   }

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      column-gap: rem(30);
      row-gap: rem(35);
   }

   &__button {
      background-color: #d6d6d6;
      padding: 27px 0;
      font-weight: 400;
      font-size: rem(18);
      line-height: math.div(21, 18);
      width: 100%;
      border-radius: 4px;
      position: relative;
      color: #4290C9;

      &::before {
         position: absolute;
         content: "";
         top: 50%;
         left: 50%;
         width: rem(24);
         height: rem(24);
         transform: translate(-90px, -50%);
         background: url("@img/icons/plus-circle.svg") center no-repeat;
      }
   }

   &__form {
      flex: 0 0 rem(270);
      background-color: #fff;
      transition: all 0.3s ease-out;

      @media (max-width: 900px) {
         position: fixed;
         padding: rem(5) rem(5);
         box-shadow: 0px 0px 15px 0px #000;
         z-index: 10;
         overflow-y: auto;
         top: 0;
         left: -120%;
         width: rem(280);
         height: 100%;

      }

      .menu-open & {
         left: 10px;
      }
   }

   &__card {
      font-weight: 400;
      line-height: math.div(16, 14);
   }

   &__card--hidden {
      display: none;
   }
}

.card {
   position: relative;

   &__labels {
      position: absolute;
      top: rem(10);
      left: rem(15);
      z-index: 5;
      display: flex;
      gap: rem(10);
      text-align: center;
      height: rem(22);
   }

   &__label-comfort {
      padding: rem(3) 0;
      border-radius: 4px;
      flex: 0 0 rem(80);
      background-color: #ffcf26;
   }

   &__label-sale {
      padding: rem(3) 0;
      border-radius: 4px;
      flex: 0 0 rem(142);
      color: #fff;
      background-color: #11be75;
      font-weight: 400;
      line-height: math.div(16, 14);
   }

   &__image-ibg {
      padding-bottom: percent(200, 270);
   }

   &__content {
      margin: rem(15);
   }

   &__title {
      font-weight: 700;
      font-size: rem(18);
      line-height: math.div(21, 18);

      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__data {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__metro {
      position: relative;
      margin-left: rem(26);

      &:not(:last-child) {
         margin-bottom: rem(10);
      }

      &::after {
         position: absolute;
         content: "";
         width: 16px;
         height: 11px;
         top: 50%;
         left: rem(-26);
         background-image: url("@img/icons/vector.svg");
         transform: translateY(-60%);
      }
   }

   &__address {
      color: #777;
   }
}


//====================   FORM   ===========================================================================

.form {

   &__element {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   &__body {
      &--hidden {
         display: none;
      }
   }
}

.metro {

   &__title {}

   &__btns {}

   &__row {
      border: 1px solid #d6d6d6;
      border-radius: 4px 4px 0 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      text-align: center;

      &:last-child {
         border-radius: 0 0 4px 4px;
         border-top: none;

      }
   }

   &__check {
      width: 1px;
      height: 1px;
      position: absolute;
      opacity: 0;
      appearance: none;

      &:checked+.metro__btn {
         background-color: #ffcf26;
      }

   }


   &__btn {
      height: rem(50);
      padding: rem(17) 0;
      flex: 1 1 rem(67);
      cursor: pointer;
      transition: background-color 0.2s ease-in;

      @media (any-hover: hover) {
         &:hover {
            background-color: #eed98c;
         }
      }

   }

   &__btn--active {}
}

.pass {

   &__title {}

   &__radio {}

   &__radio-label {
      display: block;

      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }

   &__radio-real {
      width: 1px;
      height: 1px;
      opacity: 0;
      appearance: none;

      &:checked+.pass__radio-text::before {
         position: absolute;
         z-index: 5;
         content: "";
         top: 50%;
         left: rem(6);
         width: rem(8);
         height: rem(8);
         border-radius: 50%;
         background: #3c3c3c;
         transform: translate(0, -50%);
      }

      &:checked+.pass__radio-text::after {
         background-color: #ffe074;
      }

      &:checked+.other__checkbox-text {
         font-weight: 700;
      }
   }

   &__radio-text {
      position: relative;
      font-size: rem(16);
      line-height: math.div(19, 16);
      padding-left: rem(30);

      &::after {
         position: absolute;
         content: "";
         top: 50%;
         left: 0;
         width: rem(20);
         height: rem(20);
         border: 1px solid #777;
         border-radius: 50%;
         transform: translate(0, -50%);

      }


   }
}

.other {

   &__title {}

   &__checkbox {}

   &__hidden {
      display: none;
   }

   &__checkbox-label {
      display: block;
      margin-bottom: rem(15);
   }

   &__checkbox-real {
      width: 1px;
      height: 1px;
      opacity: 0;
      appearance: none;

      &:checked+.other__checkbox-text::before {
         position: absolute;
         z-index: 5;
         content: "";
         top: 50%;
         left: 0;
         width: 18px;
         height: 18px;
         transform: translate(0, -50%);
         background: url("@img/icons/shape.svg") center no-repeat;
      }

      &:checked+.other__checkbox-text::after {
         background-color: #ffe074;
      }

      &:checked+.other__checkbox-text {
         font-weight: 700;
      }
   }

   &__checkbox-text {
      position: relative;
      font-size: rem(16);
      line-height: math.div(19, 16);
      padding-left: rem(30);

      &::after {
         position: absolute;
         content: "";
         top: 50%;
         left: 0px;
         width: 20px;
         height: 20px;
         border: 1px solid #3c3c3c;
         border-radius: 2px;
         transform: translate(0, -50%);
      }
   }

   &__show-more {
      color: #4290C9;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}

//============================   TOGGLE   ========================================================================
.toggle {

   &__checkbox {}

   &__real {
      width: 1px;
      height: 1px;
      opacity: 0;
      appearance: none;

      &:checked+.toggle__text::after {
         background-color: #ffe074;
      }

      &:checked+.toggle__text::before {
         left: 19px;
      }
   }

   &__text {
      padding-left: rem(47);
      position: relative;
      font-size: rem(16);
      line-height: math.div(19, 16);
      cursor: pointer;

      &::after {

         position: absolute;
         content: "";
         top: 50%;
         left: 0;
         width: rem(37);
         height: rem(20);
         border-radius: 10px;
         background-color: #c4c4c4;
         transform: translate(0, -50%);
         transition: background-color 0.3s ease-in;
      }

      &::before {
         position: absolute;
         z-index: 5;
         content: "";
         top: 50%;
         left: 2px;
         width: rem(16);
         height: rem(16);
         background-color: #3c3c3c;
         border-radius: 50%;
         transform: translate(0, -50%);
         transition: left 0.2s ease-out;
      }
   }
}

//==========================   BUTTON-ELEMENT   ===========================================================

.button-element {

   &__ok {
      width: 100%;
      padding: rem(15) rem(56);
      background-color: #ffcf26;
      border-radius: 2px;
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(19, 16);
      transition: background-color 0.3s ease-in;

      &:not(:last-child) {
         margin-bottom: rem(10);
      }

      @media (any-hover: hover) {
         &:hover {
            background-color: #ffe074;
         }
      }
   }

   &__no {
      width: 100%;
      padding: rem(15) rem(40) rem(15) rem(78);
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(19, 16);
      position: relative;
      transition: background-color 0.4s ease-out;

      @media (any-hover: hover) {
         &:hover {
            background-color: #ececec;
         }
      }


      &::before {
         position: absolute;
         content: "";
         top: 50%;
         left: 50%;
         width: rem(24);
         height: rem(24);
         background: url("@img/icons/x.svg") center no-repeat;
         transform: translate(-86px, -50%);
      }
   }
}



//====================================================================================================