//====================================================================================================
.page {

   &__mblock {}
}

.mblock {

   &__container {
      padding-top: rem(60);
      display: flex;
      gap: rem(30);
   }

   &__cards {
      flex: 1 1 rem(870);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: rem(30);
   }

   &__form {
      flex: 0 0 rem(270)
   }

   &__card {
      font-weight: 400;
      line-height: math.div(16, 14);
   }
}

.card {
   position: relative;

   &__labels {
      position: absolute;
      top: rem(10);
      left: rem(15);
      z-index: 5;
      display: flex;
      gap: rem(10);
      text-align: center;
      height: rem(22);
   }

   &__label-comfort {
      padding: rem(3) 0;
      border-radius: 4px;
      flex: 0 0 rem(80);
      background-color: #ffcf26;
   }

   &__label-sale {
      padding: rem(3) 0;
      border-radius: 4px;
      flex: 0 0 rem(142);
      color: #fff;
      background-color: #11be75;
      font-weight: 400;
      line-height: math.div(16, 14);
   }

   &__image-ibg {
      padding-bottom: percent(200, 270);
   }

   &__content {
      margin: rem(15);
   }

   &__title {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__data {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__metro {
      position: relative;
      margin-left: rem(26);

      &:not(:last-child) {
         margin-bottom: rem(10);
      }

      &::after {
         position: absolute;
         content: "";
         width: 16px;
         height: 11px;
         top: 50%;
         left: rem(-26);
         background-image: url("@img/icons/vector.svg");
         transform: translateY(-60%);
      }
   }

   &__address {
      color: #777;
   }
}

.form {

   &__metro {}
}

.metro {

   &__title {}

   &__btns {}

   &__row {
      border: 1px solid #d6d6d6;
      border-radius: 4px 4px 0 0;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      text-align: center;

      &:last-child {
         border-radius: 0 0 4px 4px;
         border-top: none;

      }
   }

   &__check {
      width: 1px;
      height: 1px;
      position: absolute;
      opacity: 0;
      appearance: none;

      &:checked+.metro__btn {
         background-color: #ffcf26;
      }

   }


   &__btn {
      height: rem(50);
      padding: rem(17) 0;
      flex: 1 1 rem(67);
      cursor: pointer;
      transition: background-color 0.2s ease-in;

      @media (any-hover: hover) {
         &:hover {
            background-color: #eed98c;
         }
      }

   }

   &__btn--active {}
}


//====================================================================================================